<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="css/wro.css"/>
</head>
<body>
<div th:if="${error} != null" class="alert alert-danger" th:text="${error}"></div>
<div th:if="${success} != null" class="alert alert-success">
    <span th:text="${success}"></span>
    <span th:if="${redirect_uri} != null"><a th:href="${redirect_uri}">Page d'accueil</a></span>
</div>
<div class="container">
    <form action="/uaa/register" method="POST" id="form">

        <input type="hidden" id="redirect_uri" name="redirect_uri" th:value="${redirect_uri}"
               th:if="${redirect_uri} != null"/>
        <input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>


        <div class="form-group">
            <label for="ine">N° d'étudiant:</label>
            <input type="text" class="form-control" id="ine" name="ine"/>
        </div>
        <div class="form-group">
            <label for="lastName">Nom de l'étudiant:</label>
            <input type="text" class="form-control" id="lastName" name="lastName"/>
        </div>
        <div class="form-group">
            <label for="firstName">Prénom de l'étudiant:</label>
            <input type="text" class="form-control" id="firstName" name="firstName"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Date de naissance:</label>
            <input type="text" placeholder="jj/mm/aaaa" class="form-control" id="birthDate" name="birthDate"/>
        </div>
        <div class="form-group">
            <label for="sex">Sexe:</label>
            <select class="form-control" id="sex" name="sex">
                <option>
                    M
                </option>
                <option>
                    F
                </option>

            </select>

        </div>
        <div class="form-group">
            <label for="adress">Adresse de l'étudiant:</label>
            <input type="text" placeholder="(N° Rue - Code Postale - Ville)" class="form-control" id="adress"
                   name="adress"/>
        </div>
        <div class="form-group">
            <label for="mail">Courrier électronique:</label>
            <input type="text" placeholder="prénom.nom@etudiant.univ-rennes1.fr " class="form-control" id="mail"
                   name="mail"/>
        </div>
        <div class="form-group">
            <label for="tel">Numéro de téléphone:</label>
            <input type="text" class="form-control" id="tel" name="tel"/>
        </div>

        <div class="form-group">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" class="form-control" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirmation mot de passe:</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirm_password"/>
        </div>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
</div>
<script src="js/wro.js" type="text/javascript"></script>
</body>
</html>